ncsn-n8n-workflow.json
{
  "name": "NCSN — Site Endpoints",
  "nodes": [

    {
      "parameters": {
        "path": "site/config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90482965-40e9-4ca4-9ac0-b24eac069009",
      "name": "Config GET Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 0],
      "webhookId": "a1000001-0000-0000-0000-000000000099"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/config.json",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "248ff756-c0d9-4ece-a771-f908676d461c",
      "name": "GCS Get Config",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [-576, 0],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst raw = input.json?.data || null;\nlet config = { roomId: null, createdAt: null, version: 1 };\nif (raw) {\n  try { config = JSON.parse(raw); } catch {}\n}\nreturn [{ json: config }];"
      },
      "id": "5b434f86-2c9b-4651-82e1-90785595f03c",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "7345ce7c-ae05-4f05-9308-af41970ad8b7",
      "name": "Serve Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-128, 0]
    },


    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site/config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "50d39cca-932d-486f-96dc-b92faf62638d",
      "name": "Config POST Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 240],
      "webhookId": "a1000005-0000-0000-0000-000000000098"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first();\nconst authHeader = incoming.json.headers?.authorization || '';\nconst expectedToken = 'Provoking0-Cranium7-Penpal4-Childlike0-Uranium9';\nconst valid = authHeader === `Bearer ${expectedToken}`;\nreturn [{ json: { _authValid: valid, body: incoming.json.body || {} } }];"
      },
      "id": "7ec3a6fe-1c49-4ca4-9d48-0cde2f37121a",
      "name": "Config Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._authValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        },
        "options": {}
      },
      "id": "80c96e90-b74d-4e36-a919-e08fe7618b48",
      "name": "Config Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 240]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst config = {\n  roomId: body.roomId || null,\n  createdAt: body.createdAt || new Date().toISOString(),\n  version: body.version || 1\n};\nreturn [{ json: config }];"
      },
      "id": "1fd3dbde-f0f6-4f1a-a148-6667eac87741",
      "name": "Build Config JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 192]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/config.json",
        "createFromBinary": false,
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "55cb752b-b424-4ffe-b755-344d3de3c964",
      "name": "GCS Write Config",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [96, 192],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "9b340393-cc71-4918-91ca-88a43cb0bcd9",
      "name": "Config Write 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [320, 192]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "fe3ac54b-05e0-40a2-8371-ac12d31a0e8e",
      "name": "Config 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-128, 320]
    },


    {
      "parameters": {
        "path": "site/log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "15d0ad72-b5b3-4b5b-9e4b-ad91b80b8a06",
      "name": "Log GET Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 512],
      "webhookId": "a1000012-0000-0000-0000-000000000097"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first();\nconst authHeader = incoming.json.headers?.authorization || '';\nconst expectedToken = 'Provoking0-Cranium7-Penpal4-Childlike0-Uranium9';\nconst valid = authHeader === `Bearer ${expectedToken}`;\nreturn [{ json: { _authValid: valid } }];"
      },
      "id": "5dfe9afc-8a32-42fc-a235-eb47db49e4c6",
      "name": "Log Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 512]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._authValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        },
        "options": {}
      },
      "id": "ebe39728-a7ac-48a3-aa22-077692a607d4",
      "name": "Log Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 512]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/eo-log.jsonl",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "ef737681-df90-473e-9298-29fd79d3a237",
      "name": "GCS Get Log",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [-128, 464],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data || '' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/plain; charset=utf-8" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "b1f382d7-0b2b-47a3-9f97-d814446f0575",
      "name": "Serve Log",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [96, 464]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "ba1ff29a-de93-40db-9000-ed76e39e6fa1",
      "name": "Log 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-128, 592]
    },


    {
      "parameters": {
        "path": "site/read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1000001-0000-4000-a000-000000000001",
      "name": "Read Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 752],
      "webhookId": "c1000001-0000-4000-a000-000000000001"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/content.html",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "c1000002-0000-4000-a000-000000000002",
      "name": "GCS Get Content",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [-576, 752],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data || '' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "c1000003-0000-4000-a000-000000000003",
      "name": "Serve Content",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-352, 752]
    },


    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site/write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1000001-0000-4000-b000-000000000001",
      "name": "Write Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 1000],
      "webhookId": "d1000001-0000-4000-b000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first();\nconst authHeader = incoming.json.headers?.authorization || '';\nconst expectedToken = 'Provoking0-Cranium7-Penpal4-Childlike0-Uranium9';\nconst valid = authHeader === `Bearer ${expectedToken}`;\nreturn [{ json: { _authValid: valid, body: incoming.json.body || {} } }];"
      },
      "id": "d1000002-0000-4000-b000-000000000002",
      "name": "Write Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._authValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        },
        "options": {}
      },
      "id": "d1000003-0000-4000-b000-000000000003",
      "name": "Write Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body._probe }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        },
        "options": {}
      },
      "id": "d1000004-0000-4000-b000-000000000004",
      "name": "Is Probe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-128, 952]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d1000005-0000-4000-b000-000000000005",
      "name": "Probe OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [96, 880]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/eo-log.jsonl",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "d1000006-0000-4000-b000-000000000006",
      "name": "Get Existing Log",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [96, 1000],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const existingLog = (typeof $input.first().json?.data === 'string') ? $input.first().json.data : '';\nconst body = $('Write Auth').first().json.body;\nconst entry = {\n  ts: new Date().toISOString(),\n  op: body.op || '',\n  site: body.site || '',\n  resolution: body.resolution || '',\n  author: body.author || '',\n  meta: body.meta || {},\n  payload: body.payload || {}\n};\nconst line = JSON.stringify(entry);\nconst updated = existingLog\n  ? (existingLog.endsWith('\\n') ? existingLog + line + '\\n' : existingLog + '\\n' + line + '\\n')\n  : line + '\\n';\nconst buf = Buffer.from(updated, 'utf-8');\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: buf.toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'eo-log.jsonl'\n    }\n  }\n}];"
      },
      "id": "d1000007-0000-4000-b000-000000000007",
      "name": "Prep Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 1000]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/eo-log.jsonl",
        "createFromBinary": true,
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "d1000008-0000-4000-b000-000000000008",
      "name": "Save Log",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [544, 1000],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Write Auth').first().json.body;\nconst html = body.content || '';\nconst buf = Buffer.from(html, 'utf-8');\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: buf.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'content.html'\n    }\n  }\n}];"
      },
      "id": "d1000009-0000-4000-b000-000000000009",
      "name": "Prep HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 1000]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "intelechia-content",
        "objectName": "im/ncsn/content.html",
        "createFromBinary": true,
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "d1000010-0000-4000-b000-000000000010",
      "name": "Save Content",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [992, 1000],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "gpoLsYwsnmJpRtfC",
          "name": "intelechia"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d1000011-0000-4000-b000-000000000011",
      "name": "Write OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1216, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d1000012-0000-4000-b000-000000000012",
      "name": "Write 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-128, 1100]
    }
  ],

  "connections": {
    "Config GET Webhook": {
      "main": [[{ "node": "GCS Get Config", "type": "main", "index": 0 }]]
    },
    "GCS Get Config": {
      "main": [[{ "node": "Parse Config", "type": "main", "index": 0 }]]
    },
    "Parse Config": {
      "main": [[{ "node": "Serve Config", "type": "main", "index": 0 }]]
    },

    "Config POST Webhook": {
      "main": [[{ "node": "Config Auth Check", "type": "main", "index": 0 }]]
    },
    "Config Auth Check": {
      "main": [[{ "node": "Config Auth Gate", "type": "main", "index": 0 }]]
    },
    "Config Auth Gate": {
      "main": [
        [{ "node": "Build Config JSON", "type": "main", "index": 0 }],
        [{ "node": "Config 401", "type": "main", "index": 0 }]
      ]
    },
    "Build Config JSON": {
      "main": [[{ "node": "GCS Write Config", "type": "main", "index": 0 }]]
    },
    "GCS Write Config": {
      "main": [[{ "node": "Config Write 200", "type": "main", "index": 0 }]]
    },

    "Log GET Webhook": {
      "main": [[{ "node": "Log Auth Check", "type": "main", "index": 0 }]]
    },
    "Log Auth Check": {
      "main": [[{ "node": "Log Auth Gate", "type": "main", "index": 0 }]]
    },
    "Log Auth Gate": {
      "main": [
        [{ "node": "GCS Get Log", "type": "main", "index": 0 }],
        [{ "node": "Log 401", "type": "main", "index": 0 }]
      ]
    },
    "GCS Get Log": {
      "main": [[{ "node": "Serve Log", "type": "main", "index": 0 }]]
    },

    "Read Webhook": {
      "main": [[{ "node": "GCS Get Content", "type": "main", "index": 0 }]]
    },
    "GCS Get Content": {
      "main": [[{ "node": "Serve Content", "type": "main", "index": 0 }]]
    },

    "Write Webhook": {
      "main": [[{ "node": "Write Auth", "type": "main", "index": 0 }]]
    },
    "Write Auth": {
      "main": [[{ "node": "Write Gate", "type": "main", "index": 0 }]]
    },
    "Write Gate": {
      "main": [
        [{ "node": "Is Probe", "type": "main", "index": 0 }],
        [{ "node": "Write 401", "type": "main", "index": 0 }]
      ]
    },
    "Is Probe": {
      "main": [
        [{ "node": "Probe OK", "type": "main", "index": 0 }],
        [{ "node": "Get Existing Log", "type": "main", "index": 0 }]
      ]
    },
    "Get Existing Log": {
      "main": [[{ "node": "Prep Log", "type": "main", "index": 0 }]]
    },
    "Prep Log": {
      "main": [[{ "node": "Save Log", "type": "main", "index": 0 }]]
    },
    "Save Log": {
      "main": [[{ "node": "Prep HTML", "type": "main", "index": 0 }]]
    },
    "Prep HTML": {
      "main": [[{ "node": "Save Content", "type": "main", "index": 0 }]]
    },
    "Save Content": {
      "main": [[{ "node": "Write OK", "type": "main", "index": 0 }]]
    }
  },

  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c737be3fd9beebae6ccb42a087a71b95589b90d613100d5ba10c73188a40d22"
  }
}
